<div class="text-center mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-8 mb-4">
            <%= link_to "Log in Alumnos", new_student_session_path , :class => "btn" %>
        </div>
        <div class="col-sm-8 mt-4">
            <%= link_to "Log in Maestros", new_student_session_path , :class => "btn" %>
        </div>
    </div>
</div>