<div class="text-center" style="margin-top: 100px !important;">
    <div class="row justify-content-center" style="font-size: 30px;">
        <div class="col-sm-8 mb-4">
            <%= link_to "Acceso Alumno", new_student_session_path , :class => "btn  px-5 py-5 text-white", :style  => "border-radius: 45px !important; width: 100% !important; font-size: 35px; background-color: #AE5BE3; padding: 20px !important;" %>
        </div>
        <div class="col-sm-8 mb-4">
            <%= link_to "Acceso Maestro", new_teacher_session_path , :class => "btn  px-5 py-5 text-white", :style  => "border-radius: 45px !important; width: 100% !important; font-size: 35px; background-color: #AE5BE3; padding: 20px !important;" %>
        </div>
        <div class="col-sm-8 mb-4">
            <%= link_to "Acceso Plantel", new_school_session_path , :class => "btn  px-5 py-5 text-white", :style  => "border-radius: 45px !important; width: 100% !important; font-size: 35px !important; background-color: #AE5BE3; padding: 20px !important;" %>
        </div>
    </div>
</div>